{
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "parser": "babel-eslint",
  "rules": {
    //"no-undef": 0,
    "object-curly-spacing": [2, "always"],
    "strict": 0,
    //"quotes": [1, "single", "avoid-escape"],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "semi": [2, "always"],
    //"space-before-function-paren": [2, "always"],
    "keyword-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "space-infix-ops": 2,
    //"spaced-comment": [2, "always"],
    "arrow-spacing": 2,
    "no-console": 0
  },
  "globals": {
    "hex_md5": true,
    "isInArray": true,
    "navigator": true,
    "alert": true,
    "setCookie": true,
    "getCookie": true,
    "delCookie": true,
    "window": true,
    "document": true,
    "echarts": true,
    "layui": true,
    "template": true,
    "BScroll": true,
    "$": true,
    "jQuery": true,
    "Mock": true,
    "top": true,
    "parent": true,
    "resUrl": true,
    "layer": true,
    "d3": true,
    "dataUtils": true
  }
}
