<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>重庆信用中心-欢迎您的到来-用户管理管理</title>
    <% include  ../template/iframeCommonCss.ejs %>
        <% include ../template/commonJs.ejs %>
</head>
<body>

    <!-- 搜索集 -->
    <div class="layui-form  layuiadmin-card-header-auto tableSearch" style="margin-top: 20px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="loginName" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="table-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- 工具集 -->
    <script id="toolTable" type="text/html">
		<div class="layui-btn-container">
			<button class="layui-btn layui-btn-normal " lay-event="addData" id="btn-add">添加用户</button>
		</div>
	</script>

    <!--表格 -->
    <table id="userTable" lay-filter="test"></table>

    <!-- 表格操作按钮集 -->
    <script id="barTable" type="text/html">
        <a lay-event="resetPassword">重置密码</a>
        <a lay-event="edit">编辑</a>
		<a lay-event="del">删除</a>
	</script>

    <div style="display: none;" class="userDialog">
        <form class="layui-form" action="/antique/api/sysuser" method="post" style="margin-top:40px" lay-filter="userFrom">
            <input type="hidden" name="id" />
            <div class="layui-form-item">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-block">
                    <input name="name" class="layui-input" type="text" placeholder="请输入用户名称" autocomplete="off" lay-verify="name" style="width: 250px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户账号</label>
                <div class="layui-input-block">
                    <input name="loginName" class="layui-input" type="text" placeholder="请输入用户账号" autocomplete="off" lay-verify="loginName" style="width: 250px">
                </div>
            </div>
            <div class="layui-form-item password">
                <label class="layui-form-label">用户密码</label>
                <div class="layui-input-block">
                    <input name="password" class="layui-input" type="password" placeholder="请输入用户密码" autocomplete="off" lay-verify="password"
                        style="width: 250px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户手机</label>
                <div class="layui-input-block">
                    <input name="mobile" class="layui-input" type="text" placeholder="请输入用户手机" autocomplete="off" lay-verify="mobile" style="width: 250px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户邮箱</label>
                <div class="layui-input-block">
                    <input name="email" class="layui-input" type="text" placeholder="请输入用户邮箱" autocomplete="off" lay-verify="email" style="width: 250px">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户角色</label>
                <div class="layui-input-block" id="role_list">
                </div>
            </div>
            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-normal submitForm" lay-submit="" lay-filter="submituserForm">添加</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="<%=resUrl%>/js/sys/user.js"></script>
</body>

</html>