.article{color: #4D4D4D}
.article .articleItems{padding: 0.2rem}
.article .articleItems .articleItem{border-bottom: 1px solid #cccccc;padding: 0.2rem;margin-bottom: 0.2rem}
.article .articleItems .articleItem .name{font-size: 0.5rem; overflow: hidden; white-space: nowrap;text-overflow:ellipsis;}
.article .articleItems .articleItem .time{color: #808080;text-align: right;font-size: 0.3rem}
.article .articleItems .articleItem .content{color: #808080; overflow: hidden; white-space: nowrap;text-overflow:ellipsis;margin: 0.3rem 0}

.articleDetail{padding: 0.5rem;}
.articleDetail .artDetTitle{margin-bottom: 0.5rem;font-weight: bold;font-size: 0.5rem}
.articleDetail .artDetTime{text-align: right}
.articleDetail .artDetDesc{color: #808080;font-size: 0.35rem;margin-bottom:0.5rem}
.articleDetail .artDetCon{line-height: 0.7rem;letter-spacing:1px}
.articleDetail .artDetCon img{width: 100%}