h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin:10px 0;
}
.article {
    color: #4d4d4d;
}
.article .articleItems {
    padding: 0.2rem;
}
.article .articleItems .articleItem {
    border-bottom: 1px solid #cccccc;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}
.article .articleItems .articleItem .name {
    font-size: 0.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article .articleItems .articleItem .time {
    color: #808080;
    text-align: right;
    font-size: 0.5rem;
}
.article .articleItems .articleItem .content {
    position: relative;
    overflow: hidden;
    color: #808080;
    font-size: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin: 0.3rem 0;
    max-height: 2.1rem;
    line-height: 0.7rem;
}

// .article .articleItems .articleItem .content:before {
//     content: '...';
//     position: absolute;
//     z-index: 1;
//     bottom: 0;
//     right: 0;
//     font-size:0.55rem;
//     width: 0.75rem;
//     padding-left: 0.03rem;
//     box-sizing: border-box;
//     background-color: white;
// }

// .article .articleItems .articleItem .content:after {
//     content: '  ';
//     display: inline-block;
//     position: absolute;
//     z-index: 2;
//     width: 100%;
//     height: 100%;
//     background-color: white;
// }



.articleDetail {
    padding: 0.3rem;
}
.articleDetail .artDetTitle {
    margin-bottom: 0.4rem;
    font-weight: bold;
    font-size: 0.7rem;
}
.articleDetail .artDetTime {
    text-align: right;
}
.articleDetail .artDetDesc {
    color: #808080;
    font-size: 0.6rem;
    margin-bottom: 0.4rem;
}
.articleDetail .artDetCon {
    letter-spacing: 1px;
}
.articleDetail .artDetCon p {
    font-size: 0.5rem;
}
.articleDetail .artDetCon h1,h2,h3,h4,h5,h6{
    margin:0.5rem 0;
    padding: 0;
}
.articleDetail .artDetCon img {
    width: 100%;
}
