
.articleDetail .artDetCon {
    max-width: 600px;
    letter-spacing: 1px;
    padding:2vh 5vw;
    margin:0 auto;
}
.articleDetail .artDetCon p {
    font-size: 18px;
    line-height: 30px;
    margin:0;
}
.articleDetail .artDetCon ol, .ql-editor ul{
    padding: 0 25px;
    font-size: 18px;
    margin:0;
  }
  .articleDetail .artDetCon li{
  }
  
  .articleDetail .artDetCon li::before{
    font-size:18px;
  }
.articleDetail .artDetCon a {
    text-decoration: none;
}
.articleDetail .artDetCon img {
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 0;
}
.articleDetail .artDetCon .ql-align-center {
    text-align: center;
}
.articleDetail .artDetCon .ql-align-right {
    text-align: right;
}
.articleDetail .artDetCon .ql-align-left {
    text-align: left;
}
.articleDetail .artDetCon .ql-align-justify {
    text-align: justify;
}

.articleDetail .artDetCon h1 {
    font-size: 24px;
    line-height: 36px;
    margin:0;
    font-weight: normal;
}
.articleDetail .artDetCon h2 {
    font-size: 22px;
    line-height: 34px;
    margin:0;
    font-weight: normal;
}
.articleDetail .artDetCon h3 {
    font-size: 20px;
    line-height: 32px;
    margin:0;
    font-weight: normal;
}
.articleDetail .artDetCon h4 {
    font-size: 16px;
    line-height: 28px;
    margin:0;
    font-weight: normal;
}
.articleDetail .artDetCon h5 {
    font-size: 14px;
    line-height: 26px;
    margin:0;
    font-weight: normal;
}
.articleDetail .artDetCon h6 {
    font-size: 12px;
    margin:0;
    font-weight: normal;
}
