<!DOCTYPE html>
<html >
    <head>
        <meta content="telephone=no,email=no" name="format-detection">
        <meta name="data-spm" content="a215s">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
        <title><%=newsDetail.title %></title>
        <link href="<%=resUrl%>/css/web/detail.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="articleDetail">
            <div class="artDetCon"><%- newsDetail.content %></div>
        </div>
    </body>
</html>
